
/* //------MEDIA QUERY-for 1200px-----------------======== */






@media(max-width:1200px){
    .border{
        background-color: #09a5c9;
    }
    
    .header{
        width: 100%;
        /* padding-left: 143px; */
        height: 87px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
    }
    .container{
        /* display: flex; */
        padding-bottom: 10px;
        height: 70px;
        padding-top: 10px;
        width: 900px;
        margin: auto;
        }
     .path{
            width: 40px;
            height: 25px;
            
            }
            /* #phndiv{ margin-left: 10px; } */
      .storagediv{
        display: flex;
        flex-direction: column;
            /* margin-left: 5px; */
            }  
                   
           
    .self-storage{
        width: 130px;
        height: 30px;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-transform: uppercase;
        color: #09a5c9;
        font-family: "Oswald Medium";
        font-size: 27px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: normal;
    }
    
    .technology{
        width: 143px;
        height: 22px;
        font-style: normal;
        text-transform: uppercase;
        color: #202731;
        font-family: "Oswald Medium";
        font-size: 13px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 33.83px;
        line-height: normal;
        
        
        
    }   
    .boss{
        margin-left: 0px;
    } 
    .contact{
    
    }   
    
    .consult{
        /* width: 165px; */
    height: 40px;
    border: 2px solid #09a5c9;
    width: 125px;
    border-radius: 10px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* Text style for "Consult No" */
    color: #000000;
    font-family: Poppins;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    margin-left: 130px;
    
    
    }


    /* section1============================================ */



.banner{
    background-image: url('../images/Bitmap.png');
    width: 100%;
    height: 170vh;
    background-size: cover;
    /* background-attachment: fixed; */
    
}
.section-container{
    width: 900px; 
    height: 170vh;
     margin: auto;

}
.section-left{
    float: left;
    margin-top: 150px;
    margin-left: 5%;
}


.section-label1{
    width: 449px;
    height: 55px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* Text style for "Our Experi" */
    color: #ffffff;
    font-family: 'Urbanist', sans-serif;
    font-size: 26px;
    font-weight: 200px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;

}
.section-label2{
    width: 510px;
height: 55px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Self-Stora" */
color: #ffffff;
font-family: "Urbanist";
font-size: 26px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.section-head-withhelp{
    /* Style for "will Help" */
   width: 491px;
   height: 23px;
   font-style: normal;
   letter-spacing: normal;
   line-height: normal;
   /* Text style for "will Help" */
   color: #ffffff;
   font-family: 'Urbanist', sans-serif;
   font-size: 14px;
   font-weight: 300;
   font-style: normal;
   letter-spacing: normal;
   line-height: normal;
   margin-top: 20px;
       
   }
   .section-head-withhelp2{
    /* Style for "in the Sel" */
width: 281px;
height: 31px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "in the" */
color: #ffffff;
font-family: "Poppins Light";
font-size: 14px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Self-Stora" */
color: #ffffff;
font-family: "Urbanist"; 
font-size: 20px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
#form{
    /* Style for "<Rectangle" */
    width: 290px;
    height: 300px;
    background-color: #ffffff;
    margin-left: 1.5%;
    position: absolute;
    top: 200px;
    
    }
    #form h6{
        margin-top: 36px;
        margin-left: 27px;
        justify-content: center;
        width: 301px;
        height: 25px;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #202731;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }

    
#form-input1{
    /* Style for "<Path>" */
    /* Style for "Email" */

/* Style for "<Path>" */
width: 250px;
height: 30px;

border-radius: 4px;
border: 1px solid #09a5c9;
   
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* Text style for "Talk to ou" */
    color: #202731;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-left: 24px;
    margin-top: 5px;
}
#form-input2{
    /* Style for "<Path>" */
/* Style for "<Path>" */
width: 250px;
height: 38px;
border-radius: 4px;
border: 1px solid #09a5c9;
   
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* Text style for "Talk to ou" */
    color: #202731;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-left: 24px;
    margin-top: 5px;
    
}
#form-input3{
    
/* Style for "<Path>" */
width: 250px;
border-radius: 4px;
height: 90px;
border: 1px solid #09a5c9;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Talk to ou" */
color: #202731;
font-family: Poppins;
font-size: 16px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-left: 24px;
margin-top: 5px;

}
.form-cnsltBtn{
    
/* Style for "<Path>" */

width: 94px;
height: 35px;
border: 2px solid #09a5c9;
font-style: normal;
letter-spacing: normal;
line-height: normal;
color: #202731;
font-family: "Poppins Semi Bold";
font-size: 14px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 10px;
margin-left: 0px;
}
    

/* sectio2==================================================================== */

.section2-container2{
    width: 900px;
    height: 130vh;
    margin: auto;
}
.section2-h1-ourexpert{
    /* Style for "Our Expert" */
    text-align: center;
/* width: 243px; */
height: 55px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Our Expert" */
color: #09a5c9;
font-family: cursive;
font-size: 30px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-bottom: 20px;
margin-top: 80px;
}
.section-p{
    /* Style for "We can bui" */
/* width: 572px; */
/* height: 28px; */
text-align: center;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "We can bui" */
color: #202731;
font-family: sans-serif;
font-size: 14px;
font-weight: bold;
font-style: italic;
letter-spacing: normal;
line-height: 15px;
}


.section2-gridcontainer{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,0fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin-left: 31px;

    
}
/* .s2-card-maindiv{
    width: 204px;
    height: 254px;

} */
.section2-img-div:hover{
    transform: scale(1.1);

    /* box-shadow: 0 0 10px rgba(0 ,0 ,0 ,.0.8); */
    
    }
.section2-barline{
    background-color: #09a5c9;
    width: 201px;
     height: 9px;


}
.section2-img-div{
    height: 150px;
    width: 200px;
    transition: 0.3s;
}
.section2-card-title{
/* Style for "Online pay" */
width: 199px;
height: 23px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Online pay" */
color: #202731;
font-family: sans-serif;
font-size: 14px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: 30px;
}
.section2-card-title-2{
    /* Style for "Online pay" */
   text-shadow: none;
   font-size: 14px;
    }
.section2-head-div{
    margin-top: 16px;
    margin-bottom: 19px;
}

/* 
section3================================================================== */

.s3-container{
    width: 900px;
    height: 100vh;
    margin: auto;
}
.s3-grid-card{
    width: 228px;
    border-radius: 12px;
    height: 203px;
    box-shadow: 3px 3px rgb(228 224 224);
    transition: 0.2s;
}
.s3-grid-card:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0 ,0 ,0 ,.0.8);
}
.s3-card{
    /* Style for "<Path>" */
width: 228px;
height: 100px;
background-color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
}
.s3-card-img {
    width: 60px;
    height: 60px;
}
.s3-card-para {
    /* padding-right: -27px; */
    text-align: center;
    width: 228px;
    height: 61px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #202731;
    font-family: Poppins;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;

}




/* s4========================================================================== */

.s4-container{
    width: 900px;
    height: 80vh;
    margin: auto;
    margin-top: 110px;
}

.leftdiv{
    width: 450px;
    float: left;
    height: 70vh;
    margin-top: 50px;
}
.s4-h2{
   
    width: 299px;
    height: 35px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #09a5c9;
    font-family: "Poppins Semi Bold";
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    padding-left: 40px;
}
.s4-p{
    /* Style for "facility o" */
    width: 511px;
    height: 89px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #202731;
    font-family: "Poppins Semi Bold";
    font-size: 14px;
    text-shadow: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    padding-top: 28px;
    padding-left: 40px;
}
.rightdiv{
    width: 450px;
    float: right;
    height: 80vh;

}
.boy-pickimage{
    padding-left:30px;
    width: 250px;
    height: 270px;
}
.s4-cnsltbtn-div{
    width: 50px;
    margin-top: 1px;
    padding-left: 40px;
}
.rightdiv::before{
    content: " ";
    width: 187px;
    border-bottom: 37px solid black;
    display: block;
    margin-left: 61px;
  
   

}
.rightdiv::after{
    content: "";
    width: 233px;
    border-bottom: 254px solid black;
    display: block;
    position: absolute;
    margin-top: 37px;
    margin-left: 13px;
    border-block-color: #09a5c9;

}

/* section-5================================================================= */
.s5-container{
    height: 93vh;
    width: 100%;
    margin: auto;
}
.s5-leftdiv{
    width: 50%;
    float: left;
    background-image: url('../images/black-background.png');
     background-size: cover;
     height: 685px;
background-color: #202731;

}
.s5-left-div-cntent{
    margin-left: 15%;
margin-top: 12%
}

.s5-rightdiv{
         height: 685px;
        width: 50%;
        float: right;
        background-image: url('../images/boy-pic2.png');
        background-size: cover;
    }

.s5-book-h{
    display: inline-block;
    width: 83px;
height: 32px;
font-style: normal;
letter-spacing: normal;

/* Text style for "Book a" */
color: #ffffff;
font-family: "Poppins Semi Bold";
font-size: 26px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

.s5-free-h{
    /* Style for "FREE" */
    display: inline-block;
width: 77px;
height: 30px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
/* Text style for "FREE" */
color: #09a5c9;
font-family: "Poppins Extra Bold";
font-size: 27px;
font-weight: bold;
font-style: italic;
letter-spacing: normal;
line-height: normal;
}
.s5-Min-h{
    width: 319px;
height: 55px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Min. Consu" */
color: #ffffff;
font-family: "Poppins Semi Bold";
font-size: 26px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.s5-p{
   
    width: 346px;
    height: 63px;
    letter-spacing: normal;
    line-height: 21px;
    color: #ffffff;
    font-family: "Poppins Semi Bold";
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-shadow: none;
}
.s5-form-heading{
    width: 310px;
    height: 36px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #ffffff;
    font-family: Poppins;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
}
#s5-form-input1{
    /* Style for "<Path>" */
width: 300px;
height: 37px;
background-color: transparent;
border: 1px solid #09a5c9;
border-radius: 4px;  
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* Text style for "Talk to ou" */
    color: #202731;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-left: 13px;
}
#s5-form-input2{
    /* Style for "<Path>" */
width: 300px;
height: 46px;
margin-top: 10px;
border: 1px solid #09a5c9;
background-color: transparent;
border-radius: 4px;
   font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-left: 13px;
    /* Text style for "Talk to ou" */
    color: #202731;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
#s5-form-input3{
    margin-top: 10px;
    /* Style for "<Path>" */
width: 300px;
height: 109px;
border: 1px solid #09a5c9;
border-radius: 4px;
   font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-left: 13px;
    /* Text style for "Talk to ou" */
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    background-color: transparent;}

.s5-conslt-btn{
/* Text style for "Consult No" */
font-family: "Poppins Semi Bold";
font-size: 14px;
font-weight: bold;
font-style: normal;
color: white;
letter-spacing: normal;
line-height: normal;
    /* Style for "<Path>" */
    margin-top: 20px;
width: 129px;
height: 42px;
border: 2px solid #ffffff;
background-color: transparent;
border-radius: 8px;
cursor: pointer;
}

/* footer========================================================================== */




.footer{
    height: 130px;
     width: 900px;
     margin: auto;
}
.footer-line{
    width: 700px;
    margin: auto;

}

.footer-container{
    width: 900px;
    height: 100px;
  
}
.footer-left{
    float: left; 
    width: 450px;
    display: flex;
    justify-content: center;
     margin-top: 27px;
}
.footer-img-div{
    display: flex;flex-direction: column; 
    margin-left: 12px; 
}
.footer-right{
    width: 450px;
   justify-content: center;
    display: flex;
}

.footer-right-div-p{
   /* Style for "© Copyrigh" */
width: 286px;
height: 25px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "© Copyrigh" */
color: #202731;
font-family: "Poppins Medium";
font-size: 15px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 50px;
}
.footer-storage-img{
    height: 29px;
}
.size-img{
    text-shadow: none;
    height: 45px;
    width: 45px;
    margin-top: 5px;
}




}




/* 
//------MEDIA QUERY-for 768px----------------- */

@media(max-width:768px){

    .border{
        background-color: #09a5c9;
        width: 1200px;
    }

.header{
    width: 1200px;
    display: flex;
    flex-direction: column;
}
.container{
    /* display: flex; */
    padding-bottom: 10px;
    height: 56px;
    padding-top: 10px;
    width: 900px;
    margin: auto;
}
    
    .path{
        width: 66px;
        height: 38px;
        
        }
        /* #phndiv{ margin-left: 10px; } */
  .storagediv{
    display: flex;
    flex-direction: column;
        /* margin-left: 5px; */
        }  
               
       
.self-storage{
    width: 146px;
    height: 32px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    /* Text style for "SELF STORA" */
    color: #09a5c9;
    font-family: "Oswald Medium";
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
}

.technology{
    width: 153px;
    height: 25px;
    font-style: normal;
    text-transform: uppercase;
    /* Text style for "TECHNOLOGI" */
    color: #202731;
    font-family: "Oswald Medium";
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 4.83px;
    line-height: normal;
    
    
    
}   
.boss{
    margin-left: 0px;
} 
.contact{

}   

.consult{
    /* width: 165px; */
height: 49px;
border: 2px solid #09a5c9;
width: 131px;
border-radius: 8px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Consult No" */
color: #000000;
font-family: Poppins;
font-size: 20px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
margin-left: 130px;

}

/* section=======1=============================================================== */
.banner{
    width: 1200px;
}
.section-container{
    width: 900px; 
    height: 100vh;
     margin: auto;
}

#form {
    width: 290px;
    height: 300px;
    background-color: #ffffff;
    margin-left: 1%;
    position: absolute;
    /* top: 231px; */
}
.section-left{
    float: left;
    margin-top: 206px; 
    margin-left: 5%;
}


/* section=2=============================================================================== */

.section2-container2{
    width: 1200px;
    height: 130vh;
    margin: auto;
}
.section2-gridcontainer{
    width: 900px;
    margin: auto;
    margin-top: 50px;
     display:grid;
grid-template-columns: repeat(4,1fr);
grid-auto-rows: auto;
    grid-gap: 1rem;

}
/* .s2-card-maindiv{
    width: 200px;
    height: 261px;
    

} */
.section2-card-title{
    /* Style for "Online pay" */
     
        
        font-family: sans-serif;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px ;  width: 238px;;
    }
    .section2-card-title-2{
        /* Style for "Online pay" */
       font-family:  sans-serif;
       text-shadow: none;
       font-size: 18px;
       width: 238px;
       font-weight: bold;
       letter-spacing: normal;
        }






/* section3================================================================================ */

.s3-container{
    width: 1200px;
    height: 125vh;
    margin: auto;
}
#s3-gridcontainer{
    width: 900px;
    margin: auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap: 3rem;
    grid-auto-rows: auto;
    
    
    }
    .s3-card-para{
        padding-right: 20px;
        text-align: center;
        /* Style for "Convenienc" */
    /* width: 151px; */
    height: 61px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* Text style for "Convenienc" */
    color: #202731;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    }
/* section4======================================================================= */


.s4-container{
    width: 1200px;
    height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
.leftdiv{
    width: 450px;
    float: left;
    margin-top: 50px;
}


.rightdiv{
    width: 450px;
    float: right;
}
.boy-pickimage{
    padding-left: 91px;
    position: absolute;
    z-index: 9;
    
}
.rightdiv::before{
    content: " ";
    width: 187px;
    border-bottom: 29px solid black;
    display: block;
    margin-left: 127px;
  
   

}
.rightdiv::after{
    content: "";
    width: 232px;
    border-bottom: 251px solid black;
    display: block;
    position: absolute;
    margin-top: 33px;
    margin-left: 78px;
    border-block-color: #09a5c9;

}


/* section5================================================================================ */

.s5-container{
    height: 93vh;
    width: 1200px;
    margin: auto;
}


.s5-leftdiv{
    width: 600px;
    float: left;
    background-image: url('../images/black-background.png');
     background-size: cover;
     height: 878px;
background-color: #202731;
}



.s5-left-div-cntent{
    margin-left: 20%;
margin-top: 12%

}

.s5-rightdiv{
height: 878px;
    width: 600px;
    float: right;
    background-image: url('../images/boy-pic2.png');
    background-size: cover;
}
/* footer======================================================== */


.footer-container{
    width: 1200px; 
}

.footer-left{
    float: left; 
    width: 600px;
    display: flex;
    justify-content: center;
     margin-top: 27px;
}
.footer-right{
    width: 600px;
   justify-content: center;
    display: flex;
}
}



@media(max-width:480px){

    .border{
        background-color: #09a5c9;
        width:1200px;
    
    }
    .header{
        width: 1200px;
        height: 250vh;
    }

    

.container{
   
    padding-bottom: 10px;
    height: 200vh;
    padding-top: 10px;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
    
    .path{
        width: 230px;
        height: 180px;
        
        }

  .storagediv{
    display: flex;
    flex-direction: column;
   
        }  
               
     .selfstorage-Img{
        width: 304px;
        height: 135px;
     }  
.self-storage{
    width: 250px;
    height: 97px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
  
    color: #09a5c9;
    font-family: "Oswald Medium";
   
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
}

.technology{
    width: 250px;
    height: 200px;
    font-style: normal;
    text-transform: uppercase;
   
    color: #202731;
    font-family: "Oswald Medium";
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 4.83px;
    line-height: normal;

}   
.technology-Img{
    width: 307px;
    height: 81px; 
 } 
.boss{
  margin-left: 0px;
    height: 15vh;
} 
/* #phn-{width: 80px;
    height: 80px;
} */
.phn-and-email-img{
   width: 100px;
   height: 100px;
}
.phn-and-email{
    text-shadow: none;
    font-size: 55px
}
.phndiv{ margin-left: 0px; }

.consultspan{
    height: 135px;
    width: 665px;
    margin-top: 374px;   

           }
.consult{

    height: 135px;
    border: 2px solid #09a5c9;
    width: 401px;
    border-radius: 8px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #000000;
    font-family: Poppins;
    font-size: 55px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
 

}



/* section===================================================== */



.banner{
   
    width: 1200px;
    background-image: none;
    height: 500vh;
    background-size: cover;
    /* background-attachment: fixed; */
}

.section-container{
  
    width: 1200px; 
    height: 500vh;
display: flex;
flex-direction: column;
justify-content: center;
}

.section-left{
  
    background-image: url('../images/Bitmap.png');
    background-size: cover;
    /* margin-left: 5%; */
    width: 1200px;
    margin: auto;
    height: 220vh;
    text-align: center;
    padding-top: 266px;
    
    /* margin-top: 24px;
    
     width: 525px;
     height: 350px; */
}
.section-label1{
    width: 449px;
    height: 55px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* Text style for "Our Experi" */
    color: #ffffff;
    font-family: 'Urbanist', sans-serif;
    font-size:120px;
    font-weight: 200px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;

}

.section-label2{
    width: 510px;
height: 55px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Self-Stora" */
color: #ffffff;
font-family: "Urbanist";
font-size: 55px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.withHelp-Span{
    text-shadow: none;
    text-align: center;
}
.section-head-withhelp{
 /* Style for "will Help" */
 width: 1200px;
 height: 41px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "will Help" */
color: #ffffff;
font-family: 'Urbanist', sans-serif;
font-size: 35px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 30px;
    
}
.section-head-withhelp2{
    /* Style for "in the Sel" */
width: 1200px;
height: 31px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "in the" */
color: #ffffff;
font-family: "Urbanist";
font-size: 20px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Self-Stora" */
color: #ffffff;
font-family: "Poppins Semi Bold";
font-size: 35px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.section-right{
   
     width: 1030px;
     height: 220vh;
    margin: auto;
}

#form{
    width: 1000px;
    height: 1000px;
    background-color: #ffffff;
    position: relative;
   
    
    }




    #form h6{
        margin-top: 36px;
        margin-left: 50px;
        justify-content: center;
        width: 900px;
        height: 85px;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #202731;
        font-family: Poppins;
        font-size: 52px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 2px;
        line-height: normal;
    }
    
    #form-input1{
        /* Style for "<Path>" */
        /* Style for "Email" */
    
    /* Style for "<Path>" */
    width: 900px;
    height: 107px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #09a5c9;
       
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        /* Text style for "Talk to ou" */
        color: #202731;
        font-family: Poppins;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin-left: 50px;
        
    }
    #form-input2{
        /* Style for "<Path>" */
    /* Style for "<Path>" */
    width: 900px;
    height: 107px;
    border-radius: 4px;
    border: 1px solid #09a5c9;
       
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        /* Text style for "Talk to ou" */
        color: #202731;
        font-family: Poppins;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin-left: 50px;
        margin-top: 28px;
        
    }
    #form-input3{
        
    /* Style for "<Path>" */
    width: 900px;
    height: 321px;
    border-radius: 4px;
   
    border: 1px solid #09a5c9;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* Text style for "Talk to ou" */
    color: #202731;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-left: 50px;
    margin-top: 28px;
    
    }
    .form-cnsltBtn{
        
    /* Style for "<Path>" */
    width: 384px;
    height: 124px;
  
    border: 2px solid #09a5c9;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #202731;
    font-family: "Poppins Semi Bold";
    font-size: 43px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 50px;
  
    }
    
    




    
/* secio2==================================================== */

.section2-container2{
    width: 1200px;
    height: 1165vh;
    margin: auto;
}


.section2-h1-ourexpert{
    /* Style for "Our Expert" */
    text-align: center;
/* width: 243px; */
height: 88px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Our Expert" */
color: #09a5c9;
font-family: "Poppins Semi Bold";
font-size: 76px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-bottom: 20px;
margin-top: 80px;
}
.section-p{
    /* Style for "We can bui" */
/* width: 572px; */
/* height: 28px; */
text-align: center;
font-style: normal;
text-shadow: none;
letter-spacing: normal;
line-height: normal;
/* Text style for "We can bui" */
color: #202731;
font-family: "Poppins Semi Bold";
font-size: 36px;
font-weight: bold;
font-style: italic;
letter-spacing: normal;
line-height: normal;
}
.section2-gridcontainer{
    margin-top: 50px;
     display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
    width: 762px;

}
.section2-img-div {
    height: 565px;
    width: 762px;
}
.section2-barline{
    
    width: 762px;
 


}
.section2-card-title{
    /* Style for "Online pay" */
    width: 761px;
    margin-top: 33px;
    text-align: center;
    height: 49px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #202731;
    font-family:  sans-serif;
    font-size: 42px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    }
    .section2-card-title-2{
        /* Style for "Online pay" */
        width: 761px;
    text-align: center;
    height: 56px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #202731;
    font-family:  sans-serif;
    font-size: 42px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
        }


/* sect=3====================================================== */
.s3-container{
    width: 1200px;
    height: 725vh;
    margin: auto;

}
#s3-head {
    width: 468px;
    height: 73px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #09a5c9;
    font-family: "Poppins Semi Bold";
    font-size: 76px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
#s3-gridcontainer{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    grid-gap: 6rem;
    grid-auto-rows: auto;
    width: 765px;
    
    

    }

.s3-grid-card{
    width: 765px;
    border-radius: 12px;
    height: 562px;
    box-shadow: 14px 10px rgb(228 224 224);
}


.s3-card{
    /* Style for "<Path>" */
width: 765px;
height: 300px;
background-color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
}
.s3-card-img{
    /* Style for "<Path>" */
    width: 240px;
    height: 240px;
    
    }
    .s3-card-para {
        text-align: center;
        width: 765px;
        height: 61px;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        color: #202731;
        font-family: sans-serif;
        font-size: 37px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }

/* section===4==================================================== */
.s4-container{
    width: 1200px;
    height: 180vh;
    
   
}

.leftdiv{
    margin: auto;
    width: 1000px;
    text-align: center;
    height: 170vh;
   
}
.s4-h2{
    width: 1000px;
    height: 136px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #09a5c9;
    font-family: "Poppins Semi Bold";
    font-size: 76px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 66px;
    padding-left: 4px;
}
.s4-p {
    width: 1000px;
    height: 215px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #202731;
    font-family: "Poppins Semi Bold";
    font-size: 36px;
    text-shadow: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: normal;
    line-height: normal;
    padding-top: 100px;
    padding-left: 4px;
}
.s4-cnsltbtn-div {
    width: 1000px;
    margin-top: 181px;
    padding-left: 4px;
}

.rightdiv{
display: none;
}



/* 
secion5=================================================== */
.s5-container{
    height: 240vh;
    width:1200px;
    margin: auto;
}


.s5-leftdiv{
    width: 1200px;
    background-image: url('../images/black-background.png');
     background-size: cover;
     height: 240vh;
   background-color: #202731;
}



.s5-left-div-cntent{
  height: 240vh;
margin-top: 12%

}

.s5-book-h{
    display: inline-block;
    width: 192px;
    height: 67px;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
    font-family: "Poppins Semi Bold";
    font-size: 55px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.s5-free-h{
    /* Style for "FREE" */
    display: inline-block;
width: 162px;
height: 61px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
/* Text style for "FREE" */
color: #09a5c9;
font-family: "Poppins Extra Bold";
font-size: 55px;
font-weight: bold;
font-style: italic;
letter-spacing: normal;
line-height: normal;
}
.s5-Min-h{
    width: 500px;
height: 55px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Min. Consu" */
color: #ffffff;
font-family: "Poppins Semi Bold";
font-size: 51px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.s5-p {
    width: 900px;
    height: 125px;
    letter-spacing: normal;
    line-height: 36px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 3px;
    font-style: italic;
    text-shadow: none;
    margin-top: 47px;
    text-shadow: none;
}
.s5-form-heading {
    width: 792px;
    height: 76px;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #ffffff;
    font-family: Poppins;
    font-size: 41px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 4px;
    line-height: normal;
}






#s5-form-input1 {
    width: 792px;
    height: 84px;
    background-color: transparent;
    border: 1px solid #09a5c9;
    border-radius: 4px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #202731;
    font-family: Poppins;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;

}


#s5-form-input2{
    /* Style for "<Path>" */
    width: 792px;
    height: 84px;
margin-top: 24px;
border: 1px solid #09a5c9;
background-color: transparent;
border-radius: 4px;
   font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-left: 13px;
    /* Text style for "Talk to ou" */
    color: #202731;
    font-family: Poppins;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
#s5-form-input3{
    width: 792px;
    margin-top: 24px;
    /* Style for "<Path>" */
height: 236px;
border: 1px solid #09a5c9;
border-radius: 4px;
   font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-left: 13px;
    /* Text style for "Talk to ou" */
    color: #ffffff;
    font-family: Poppins;
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    background-color: transparent;}

.s5-conslt-btn{
/* Text style for "Consult No" */
font-family: "Poppins Semi Bold";
font-size: 35px;
font-weight: bold;
font-style: normal;
color: white;
letter-spacing: normal;
line-height: normal;
margin-top: 50px;
width: 260px;
height: 94px;
border: 2px solid #ffffff;
background-color: transparent;
border-radius: 8px;
cursor: pointer;
}
.s5-rightdiv{
display: none;
}
/* footer======================================= */

.footer{
    height: 145px;
     width: 1200px;
}
.footer-line{
    width: 1200px;
    margin: auto;
}

.footer-container{
    width: 1200px;
     margin: auto;
}
.footer-left{
    display: none;
   /* width: 1200px;

    display: flex;
    justify-content: center;
     margin-top: 27px; */
}
.footer-img-div{
    display: flex;
    flex-direction: column; 
    margin-left: 12px; 
}
.footer-right{
    width: 1200px;
   justify-content: center;
    display: flex;
}

.footer-right-div-p{
   /* Style for "© Copyrigh" */
   width: 674px;
   height: 25px;
   font-style: normal;
   letter-spacing: normal;
   line-height: normal;
   color: #202731;
   font-family: "Poppins Medium";
   font-size: 41px;
   font-weight: bold;
   font-style: normal;
   letter-spacing: normal;
   line-height: normal;
   margin-top: 50px;
}
.footer-storage-img{
    height: 34px;
}








}