*{
    margin: 0px;
    padding: 0px;
} 
 
 .header{
width: 100%;
height: 136px;
display: flex;
justify-content: center;
align-items: center;
background-color: #ffffff;
}
.border{
width: 100%;
height: 13px;
background-color: #09a5c9;
padding: 0px 0px 0px 0px;}

.container{
display: flex;
padding-bottom: 20px;
padding-top: 20px;
width: 1200px;
}

.storagediv{
 display: flex;
flex-direction: column;
margin-left: 10px;
    }

     .boss{
        margin-left: 250px;
    } 

.email{
display: inline-flex;
}
#email span {
    padding: 5px;
    }
    .phn-and-email-img{
        text-shadow: none;
    }
    .phn-and-email{
        text-decoration: none;
        text-shadow: none;
        color: black;
        font-family: sans-serif;
        padding-left: 13px;
        padding-top: 6px;
    }
.contact{
    margin: auto;
    display: inline-flex;

}
#contact span {
    padding: 5px;
}
.phndiv{ margin-left: 188px; }

  .consultspan{
      padding-right: 0px;
            /* margin-right: 110px;    */
             }



             
.consult{
   
height: 49px;
border: 2px solid #09a5c9;
width: 150px;
border-radius: 8px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Consult No" */
color: #000000;
font-family: auto;
font-size: 20px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
margin-left: 210px;
cursor: pointer;
}
.consult:hover{
    background-color: #09a5c9;
}
.path{
width: 66px;
height: 38px;

}
.selfstorage-Img{
   text-shadow: none;    
}  
.self-storage{
    width: 146px;
    height: 32px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
    /* Text style for "SELF STORA" */
    color: #09a5c9;
    font-family: "Oswald Medium";
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
}
.technology-Img{
    text-shadow: none;    
 } 
.technology{
    width: 153px;
    height: 25px;
    font-style: normal;

    text-transform: uppercase;
    /* Text style for "TECHNOLOGI" */
    color: #202731;
    font-family: "Oswald Medium";
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 4.83px;
    line-height: normal;
    
    
    
}


/* //section1------------------------------------------------------------ */

.banner{
    background-image: url('../images/Bitmap.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    /* background-attachment: fixed; */
    
}
.section-container{
    width: 1200px; 
    height: 100vh;
     margin: auto;
}
.section-left{
    float: left;
    margin-top: 250px;
     margin-left: 5%;
     width: 525px;
}
.section-label1{
    width: 449px;
    height: 55px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* Text style for "Our Experi" */
    color: #ffffff;
    font-family: 'Urbanist', sans-serif;
    font-size: 36px;
    font-weight: 200px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;

}
.section-label2{
    width: 510px;
height: 55px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Self-Stora" */
color: #ffffff;
font-family: "Urbanist";
font-size: 36px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.withHelp-Span{
    text-shadow: none;
}
.section-head-withhelp{
 /* Style for "will Help" */
width: 460px;
height: 26px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "will Help" */
color: #ffffff;
font-family: 'Urbanist', sans-serif;
font-size: 20px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 30px;
    
}
.section-head-withhelp2{
    /* Style for "in the Sel" */
width: 290px;
height: 31px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "in the" */
color: #ffffff;

font-size: 20px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Self-Stora" */
color: #ffffff;
 font-family: "Urbanist";  
font-size: 20px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.section-right{
    float: right;
     width: 425px;
     height: 270px;
     margin-top: 170px;
}
#form{

width: 404px;
height: 412px;
background-color: #ffffff;
/* margin-left: 38%; */
position: absolute;

}

#form h6{
    margin-top: 36px;
    margin-left: 50px;
    justify-content: center;
   
 /* Style for "Talk to ou" */
width: 301px;
height: 25px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Talk to ou" */
color: #202731;
font-family: sans-serif;
font-size: 16px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

#form-input1{
    /* Style for "<Path>" */
    /* Style for "Email" */

/* Style for "<Path>" */
width: 304px;
height: 38px;
margin-top: 20px;
border-radius: 4px;
border: 1px solid #09a5c9;
   
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* Text style for "Talk to ou" */
    color: #202731;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-left: 50px;
    
}
#form-input2{
    /* Style for "<Path>" */
/* Style for "<Path>" */
width: 304px;
height: 38px;
border-radius: 4px;
border: 1px solid #09a5c9;
   
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* Text style for "Talk to ou" */
    color: #202731;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-left: 50px;
    margin-top: 7px;
    
}
#form-input3{
    
/* Style for "<Path>" */
width: 304px;
border-radius: 4px;
height: 111px;
border: 1px solid #09a5c9;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Talk to ou" */
color: #202731;
font-family: Poppins;
font-size: 16px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-left: 50px;
margin-top: 7px;

}
.form-cnsltBtn{
    
/* Style for "<Path>" */
width: 134px;
height: 42px;
border: 2px solid #09a5c9;;
    /* Style for "Consult No" */
border-radius: 5px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Consult No" */
color: #202731;
font-family: revert;
font-size: 16px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 30px;
cursor: pointer;
/* margin-left: 50px; */
}
.form-cnsltBtn:hover{
    background-color: #09a5c9;
}




/* section2====================================== */
.section2-container2{
    width: 1200px;
    height: 100vh;
    margin: auto;
}

.section2-h1-ourexpert{
    /* Style for "Our Expert" */
    text-align: center;
/* width: 243px; */
height: 55px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Our Expert" */
color: #09a5c9;
font-family: cursive;
font-size: 36px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-bottom: 20px;
margin-top: 80px;
}
.section-p{
    /* Style for "We can bui" */
/* width: 572px; */
/* height: 28px; */
text-align: center;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "We can bui" */
color: #202731;
font-family: sans-serif;
font-size: 18px;
font-weight: bold;
font-style: italic;
letter-spacing: normal;
line-height: normal;
}

.section2-gridcontainer{
    margin-top: 50px;
     display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;

}
.section2-img-div:hover{
transform: scale(1.1);
cursor: pointer;
box-shadow: 0 0 10px rgba(0 ,0 ,0 ,.0.8);

}
.section2-barline{
     background-color: #09a5c9;
     width: 271px;
     height: 9px;


}
.image{
    max-width: 100%;
    min-height: 100%;
}



/* .s2-card-maindiv{
    width: 288px;
    height: 288px;

} */
.section2-img-div{
    height: 192px;
    width: 271px;
    transition: 0.3s;
}
.section2-img-div:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0 ,0 ,0 ,.0.8);
    
    }
.section2-card-title{
/* Style for "Online pay" */
    width: 238px;
    height: 21px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #202731;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
}
.section2-card-title-2{
    /* Style for "Online pay" */
   font-family:  sans-serif;
   text-shadow: none;
    }
.section2-head-div{
    margin-top: 16px;
    margin-bottom: 19px;
}

/* //section3------------------------- */

.s3-container{
    width: 1200px;
    height: 100vh;
    margin: auto;
}
#s3-head{
    /* Style for "Things we" */
width: 252px;
height: 55px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Things we" */
color: #09a5c9;
font-family: cursive;
font-size: 36px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
#s3-gridcontainer{
margin-top: 80px;
display: grid;
grid-template-columns: repeat(3 ,1fr);
grid-gap: 3rem;
grid-auto-rows: auto;


}

.s3-grid-card{
   /* Style for "<Bitmap>" */
width: 328px;
border-radius: 12px;
height: 311px;
box-shadow: 3px 3px rgb(228, 224, 224);
    transition: 0.2s;
    }

.s3-grid-card:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0 ,0 ,0 ,.0.8);
}
.s3-card{
    /* Style for "<Path>" */
width: 300px;
height: 180px;
background-color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
}
.s3-card-img{
/* Style for "<Path>" */
width: 78px;
height: 81px;

}
.s3-card-para{
    padding-right: 20px;
    text-align: center;
    /* Style for "Convenienc" */
/* width: 151px; */
height: 61px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Convenienc" */
color: #202731;
font-family: sans-serif;
font-size: 18px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
/* section4----------------------------------------- */

.s4-container{
    width: 1200px;
    height: 60vh;
    margin: auto;
}
.leftdiv{
    width: 600px;
    float: left;
    height: 55vh;
    margin-top: 30px;
}


.rightdiv{
    width: 600px;
    float: right;
    height: 55vh;
}
.s4-h2{
    width: 466px;
    height: 88px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
 
    color: #09a5c9;
    font-family: cursive;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 45px;
}
.s4-p{
    /* Style for "facility o" */
width: 511px;
height: 123px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "facility o" */
color: #202731;
font-family: sans-serif;
font-size: 18px;
font-weight: bold;
font-style: italic;
letter-spacing: normal;
line-height: normal;
padding-top: 56px;
}
.s4-cnsltbtn-div{
    width: 50px;
    margin-top: 6px;
}
.boy-pickimage{
    padding-left: 91px;
    position: absolute;
    z-index: 9;
    
}
.rightdiv::before{
    content: " ";
    width: 287px;
    border-bottom: 40px solid black;
    display: block;
    margin-left: 127px;
  
   

}
.rightdiv::after{
    position: absolute;
    content: "";
    width: 347px;
    border-bottom: 437px solid black;
    display: block;
    position: absolute;
    margin-top: 37px;
    margin-left: 68px;
    border-block-color: #09a5c9;

}



/* section5=========================================== */


.s5-container{
    height: 93vh;
    width: 100%;
    margin: auto;
}


.s5-leftdiv{
    width: 50%;
    float: left;
    background-image: url('../images/black-background.png');
     background-size: cover;
     height: 878px;
background-color: #202731;
}



.s5-left-div-cntent{
    margin-left: 40%;
margin-top: 12%

}

.s5-rightdiv{
height: 878px;
    width: 50%;
    float: right;
    background-image: url('../images/boy-pic2.png');
    background-size: cover;
}

.s5-book-h{
    display: inline-block;
    width: 118px;
height: 55px;
font-style: normal;
letter-spacing: normal;

/* Text style for "Book a" */
color: #ffffff;
font-family: "Poppins Semi Bold";
font-size: 36px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}

.s5-free-h{
    /* Style for "FREE" */
    display: inline-block;
width: 113px;
height: 61px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-transform: uppercase;
/* Text style for "FREE" */
color: #09a5c9;
font-family: "Poppins Extra Bold";
font-size: 40px;
font-weight: bold;
font-style: italic;
letter-spacing: normal;
line-height: normal;
}
.s5-Min-h{
    width: 319px;
height: 55px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Min. Consu" */
color: #ffffff;
font-family: "Poppins Semi Bold";
font-size: 36px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.s5-p{
    width: 369px;
    height: 91px;
    letter-spacing: normal;
    line-height: 28px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-shadow: none;

}
.s5-form-heading{
    width: 375px;
height: 55px;
text-align: center;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "Talk to ou" */
color: #ffffff;
font-family: 'Urbanist';
font-size: 20px;
font-weight: bold;
font-style: normal;
letter-spacing: 1.5px;
line-height: normal;
}
#s5-form-input1{
    /* Style for "<Path>" */
width: 366px;
height: 46px;
background-color: transparent;
border: 1px solid #09a5c9;
border-radius: 4px;  
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    /* Text style for "Talk to ou" */
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-left: 13px;
}
#s5-form-input2{
    /* Style for "<Path>" */
width: 366px;
height: 46px;
margin-top: 16px;
border: 1px solid #09a5c9;
background-color: transparent;
border-radius: 4px;
   font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-left: 13px;
    /* Text style for "Talk to ou" */
    color: white;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
#s5-form-input3{
    margin-top: 16px;
    /* Style for "<Path>" */
width: 366px;
height: 136px;
border: 1px solid #09a5c9;
border-radius: 4px;
   font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding-left: 13px;
    /* Text style for "Talk to ou" */
    color: #ffffff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    background-color: transparent;}

.s5-conslt-btn{
/* Text style for "Consult No" */
font-family: "Poppins Semi Bold";
font-size: 18px;
font-weight: bold;
font-style: normal;
color: white;
letter-spacing: normal;
line-height: normal;
    /* Style for "<Path>" */
    margin-top: 40px;
width: 167px;
height: 47px;
border: 2px solid #ffffff;
background-color: transparent;
border-radius: 8px;
cursor: pointer;
}
.s5-conslt-btn:hover{
    background-color:#09a5c9 ;
}
::-webkit-input-placeholder{
    color: white;
}


/* footer======================================== */


.footer{
    height: 130px;
     width: 100%;
}
.footer-line{
    width: 1200px;
    margin: auto;
}

.footer-container{
    width: 100%; margin: auto;
}
.footer-left{
    float: left; 
    width: 50%;
    display: flex;
    justify-content: center;
     margin-top: 27px;
}
.footer-img-div{
    display: flex;flex-direction: column; 
    margin-left: 12px; 
}
.footer-right{
    width: 50%;
   justify-content: center;
    display: flex;
}

.footer-right-div-p{
   /* Style for "© Copyrigh" */
width: 286px;
height: 25px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
/* Text style for "© Copyrigh" */
color: #202731;
font-family: serif;
font-size: 16px;
font-weight: bold;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin-top: 50px;
}
.footer-storage-img{
    height: 34px;
}
.size-img{
    text-shadow: none;
}